@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
:root {
   --ghost: #0E100F;
   --beetles: #A374FF;
}

* {
   scrollbar-width: thin;
   scrollbar-color: var(--beetles) var(--ghost);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
   width: 15px;
}

*::-webkit-scrollbar-track {
   background: var(--ghost);
   border-radius: full;
}

*::-webkit-scrollbar-thumb {
   background-color: var(--beetles);
   border-radius: 50;
   border: 3px solid var(--ghost);
}

.pointer-float {
   filter: blur(0);
   will-change: transform;
   transform-style: preserve-3d;
   backface-visibility: hidden;
}

@keyframes subtle-float {
   0%, 100% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(-5px);
   }
}